---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 id="aktuelles" class="post-list-heading">{{ page.list_title | default: "Aktuelles - Unser Blog" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{% include date-de.html date=post.date %}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
          {% if post.excerpt != post.content %}
            <a href="{{ post.url | relative_url }}">Mehr...</a>
          {% endif %}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS-Feed</a></p>
  {%- endif -%}

</div>
